body, h1, h2, h3, h4, p {
    font-family: 'Special Elite', cursive !important;
}

.headerrow {
	background-color: #66CC99;
	padding-top: 3em;
	padding-bottom: 3em;

	h1, h2, h3, p {

		color: white!important;
	}

    h1 {
        font-size: 4rem;
        font-weight: 200;
    }

	.headerimg, .headertitle, .headernav {
		padding-top: 1em;
        padding-bottom: 1em;
	}

    .headertitle h2 {
        font-weight: 200;
        margin-bottom: 2em;
    }

	.headerimg {
		padding-bottom: 0;
	}
}

.when {
	background-color: #FFFF99;
    .row {
        padding-top: 3em;
        padding-bottom: 3em;
    }
	

    h2 {
        font-size: 3rem;
    }

}

.give {
	background-color: #FF3366;
	padding-top: 3em;
	padding-bottom: 3em;

	h2 {
		color: white;
        font-weight: 200;
	}
}

#googleMap {
	height: 300px;
}

.where {
    .row {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    a {
        color: #63b3b8
    }

    a:hover {
        text-decoration: underline;
    }

}

.pagebreak, .when-pagebreak {
	height: 1em;
	background-color: white;
}

.promo {
    background: url(../img/IMG_4121.png) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    
    height: 400px;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: 0 auto;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #FF3366;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}


